/*  */


@font-face {
    font-family: 'alex_brushregular';
    src: url('./assets/fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geraldine_personal_useitalic';
    src: url('./assets/fonts/geraldine_personal_use-webfont.woff2') format('woff2'),
         url('./assets/fonts/geraldine_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/

*{box-sizing: border-box;}

body{
    background: url(greyzz.png);
}

h1{
    color:brown;
    font-family: alex_brushregular;
}

h2{
    color:goldenrod;
    font-family: geraldine_personal_useitalic;
}

h1,h2{
    text-align: center;
    border-bottom: solid orange;
}

footer a{color: gray;font-weight: bolder;}

/*
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
*/


body{
    margin:0;
}
body:before{
    content:"";
    display:inline-block;
    width:100px;
    background-color: maroon;
    height:700px;
}

body>.wrapper{
    display:inline-block;
    width: calc(100% - 110px);
    vertical-align: top;
    padding: 20px;
}
body>.wrapper>h1{
}
body>.wrapper>h1>p{}
body>.wrapper>h1>a{}
body>.wrapper>h1>a>img{
    border:10px double purple;
    border-radius: 1000px;
    box-shadow: 0 0 10px 1px black ;
}

body>.wrapper>section{
    width:30%;
    display:inline-block;
    vertical-align: top;
}
body>.wrapper>section:nth-of-type(2){
    margin: 0 10px;
}
body>.wrapper>section>h2{}
body>.wrapper>section>ul{}
body>.wrapper>section>ul>li{}
body>.wrapper>section>p{}


@media all and (max-width:1024px){
    body::before{content:unset;}
    body>.wrapper{width:100%;}
    body>.wrapper>section{
        display: block;
        width: 100%;
    }
}


